@charset "utf-8";
* {
    padding: 0;
    margin: 0;
}
ol,
ul,
li{
    list-style-type: none;
}
#content{
    width: 100%;
    height: 100%;
    overflow: hidden;
   position: absolute;

}

.content-wrap{
    position: relative;
}
.content-wrap > li{
    color: red;
    float: left;
    overflow: hidden;
    position: relative;
}

/*人物*/
.character{
    width: 151px;
    height: 291px;
    background: url("../images/boy.png") -0px -291px no-repeat;
    position: absolute;
    left: 6%;
    top: 55%;
}
/*慢走*/
.slowWalk{
    /*Safari 和 Chrome*/
    -webkit-animation-name: person-slow;
    -webkit-animation-duration: 950ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps(1,start);
    /*Firefox*/
    -moz-animation-name: person-slow;
    -moz-animation-duration: 950ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: steps(1,start);
}
@-webkit-keyframes person-slow {
    0%{
        background-position: -0px -291px;
    }
    25%{
        background-position: -602px -0px;
    }
    50%{
        background-position: -302px -291px;
    }
    75%{
        background-position: -151px -291px;
    }
    100%{
        background-position: -0px -291px;
    }
}
@-moz-keyframes person-slow {
    0%{
        background-position: -0px -291px;
    }
    25%{
        background-position: -602px -0px;
    }
    50%{
        background-position: -302px -291px;
    }
    75%{
        background-position: -151px -291px;
    }
    100%{
        background-position: -0px -291px;
    }
}
.slowFlowerWalk{
    -webkit-animation-name: person-flower-slow;
    -webkit-animation-duration: 950ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: step-start;

    -moz-animation-name: person-flower-slow;
    -moz-animation-duration: 950ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: step-start;
}
@-webkit-keyframes person-flower-slow {
    0%{
        background-position: -453px -0px;
    }
    25%{
        background-position: -904px -0px;
    }
    50%{
        background-position: -451px -0px;
    }
    75%{
        background-position: -753px -0px;
    }
    75%{
        background-position: -300px -0px;
    }
}@-moz-keyframes person-flower-slow {
    0%{
        background-position: -453px -0px;
    }
    25%{
        background-position: -904px -0px;
    }
    50%{
        background-position: -451px -0px;
    }
    75%{
        background-position: -753px -0px;
    }
    75%{
        background-position: -300px -0px;
    }
}