@charset "utf-8";
/*背景图*/
.c_background{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100% 100%;
}
.c_background_top{
    background-image: url("../images/c_background_top.png");
    width: 100%;
    height: 71.6%;
    background-size: 100% 100%;
}
.c_background_middle{
    background-image: url("../images/c_background_middle.png");
    width: 100%;
    height: 13.1%;
    background-size: 100% 100%;
}
.c_background_bottom{
    background-image: url("../images/c_background_botton.png");
    width: 100%;
    height: 15.3%;
    background-size: 100% 100%;
}
/*小女孩*/
.girl{
    position: absolute;
    background: url("../images/girl.png") -755px 0px no-repeat;
    right: 40%;
    top: 30%;
    width: 151px;
    height: 291px;
}
/*桥*/
.bridge_bottom{
    position: absolute;
    width:41% ;
    height:24% ;
    left: 29.5%;
    top: 76%;
    overflow: hidden;
}
/*波浪水布局*/
.water{
    width: 100%;
    height: 100%;
}
.water_1,
.water_2,
.water_3,
.water_4{
    width: 100%;
    position: absolute;
    height: 50%;
}
.water_1{
    width: 131px;
    height: 15px;
    top: 13%;
    left: 35%;
    background: url("../images/water.png") -261px 0 no-repeat;
}
.water_2{
    width:161px ;
    height: 9px;
    top: 30%;
    left: 45%;
    background: url("../images/water.png") -692px 0 no-repeat;
}
.water_3{
    width: 261px;
    height: 29px;
    top: 50%;
    left: 15%;
    background: url("../images/water.png") -0px -0px no-repeat;
}
.water_4{
    width: 301px;
    height: 12px;
    top: 75%;
    left: 30%;
    background: url("../images/water.png") -392px 0px no-repeat;
}
/*星星*/

.stars{
    width: 100%;
    height: 100%;
    position: absolute;
}
.stars > li{
    position: absolute;
    width: 30px;
    height: 31px;
    background-image: url("../images/stars.png");
}
/*
.stars1{
    top: 15%;
    left: 20%;
}
.stars2{
    top: 20%;
    left: 30%;
}
.stars3{
    top: 25%;
    left: 20%;
}
.stars4{
    top: 10%;
    left: 65%;
}
.stars5{
    top: 25%;
    left: 85%;
}
.stars6{
    top: 30%;
    left: 70%;
}*/
