@charset "utf-8";
/*背景图*/
.c_background{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100% 100%;
}
.c_background_top{
    background-image: url("../images/c_background_top.png");
    width: 100%;
    height: 71.6%;
    background-size: 100% 100%;
}
.c_background_middle{
    background-image: url("../images/c_background_middle.png");
    width: 100%;
    height: 13.1%;
    background-size: 100% 100%;
}
.c_background_bottom{
    background-image: url("../images/c_background_botton.png");
    width: 100%;
    height: 15.3%;
    background-size: 100% 100%;
}
/*小女孩*/
.girl{
    position: absolute;
    background: url("../images/girl.png") -154px 0px no-repeat;
    /*right: 40%;
    top: 37%;*/
    width: 151px;
    height: 291px;
}