@charset "utf-8";
/*
重置样式*/
/*清零*/
*
{
    margin: 0;
    padding: 0;
}
ol,ul,li{
    list-style-type: none;
}
/*
!*
清浮动*!
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.clearfix{
    zoom: 1;
}*/
